<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Guest List</title>
</head>
<body>
<h1>Hotel Guest List</h1>
<table>
    <tr>
        <td>Last Name</td>
        <td>First Name</td>
        <td>Email Address</td>
        <td>Phone#</td>
    </tr>
    <tr th:each = "guest: ${guestList}">
        <td th:text="${guest.lastName}">Last Name</td>
        <td th:text="${guest.firstName}">First Name</td>
        <td th:text="${guest.email}">Email Address</td>
        <td th:text="${guest.phoneNo}">Phone#</td>
    </tr>
</table>

</body>
</html>